<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.restassured.day3.HeadersDemo"/>
      <class name="com.example.restassured.day3.CookiesDemo"/>
      <class name="com.example.restassured.day3.LoggingDemo"/>
      <class name="com.example.restassured.day3.PathAndQueryParameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
